nav a:hover{
    background-color: rgb(36, 151, 36);
    font-weight: bold;
    width: 7rem;
}
#form-container {
    /* background-color: pink; */
    background-image: url('https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1190&q=80');
    color: white;
    border-radius: 9px;
    background-size: cover;
    background-position: center;
    width:100%;
}
